.App {
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Keto';
  src : url(font/Teko-Medium.ttf);
}
